---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	{% for post in site.posts limit: 1 %}
	<div class="post-content">
		<header class="post-header">
    		<h1 class="post-title" itemprop="name headline">
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h1>
    		<p class="post-meta">
				<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
			</p>
	    </header>

    	<div class="post-content" itemprop="articleBody">
    		{{ post.content }}
    	</div>
	{% endfor %}
</article>

{% for post in site.posts limit: 1 offset: 1 %}
	<div class="page-nav">
		<a class="prev" href="{{ post.url }}">&laquo; {{ post.title }}</a>
	</div>
	<div class="add-comment">
		<a href="{{ post.url }}">Comment on this article</a>
	</div>
{% endfor %}
