---
layout: home
---

{% assign sorted = (site.pages | sort: 'start_date') | reverse %}
{% for page in sorted %}
	{% if page.timeline %}
		<div class="cd-timeline-block">
			<div class="cd-timeline-img" {% if page.icon_color %}style="background-color:{{ page.icon_color }}"{% endif %}>
				{% if page.icon %}
					<img src="{{ "/img/" | prepend: site.baseurl | append: page.icon }}" />
				{% endif %}
			</div>
			<div class="cd-timeline-content">
				<h2>{{ page.title }}</h2>
				<p>
					{% if page.description %}
						{{ page.description }}
					{% else %}
						{{ page.content }}
					{% endif %}
				</p>
				{% if page.start_date %}
					<span class="cd-date">{{ page.start_date | date: "%b %Y" }} {% if page.end_date %} - {{ page.end_date | date: "%b %Y" }} {% endif %}</span>	
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endfor %}