<header id="site-header" role="banner" aria-labelledby="site-heading">
	<div class="heading-container">
		<h1 id="site-heading">
			<a href="/">
				{{ site.title }}
			</a>
		</h1>
	</div>

	{% assign pages = site.pages | sort: "weight" %}

	<div class="nav left">
		{% for node in pages %}
			{% if node.menu == "left" or node.menu == "right" %}
				{% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
				{% unless node.url contains '/page' %}
					<a {% if nodediff != page.url %}class="active" {% endif %}href="{{ node.url | prepend: site.baseurl | remove: "index.html" }}">{% if node.link-text %}{{ node.link-text }}{% else %}{{ node.title }} {% endif %}</a>
				{% endunless %}
			{% endif %}
		{% endfor %}
	</div>
</header>
