// header#site-header
#site-header{
	width: 100%;
	z-index: 1000;
	@include row();
	text-align:center;
	.heading-container {
		@include span-columns(12);
		@include pad();

		@include media($tablet){
			@include span-columns(4);
		}
	}
	.nav{
		display:inline-block;
 		@include pad(0.5rem 0);
		text-align: center;

		@include media($tablet){
			@include span-columns(4);
			@include pad();
			&.left{
				@include shift(-8);
			}
		}
	}

	@include media($tablet){
		.heading-container{
			@include shift(4);
		}
	}

	#site-heading{
		font-size: 2rem;
		padding:0;
		margin:0;
		font-variant: small-caps;

		a{
			color:$color3;
			text-decoration: none;
			transition: color 500ms ease;

			&:hover{
				color:$color3;
			}
		}

	}
	.nav {
		a{
			color:$color3;
			text-transform: uppercase;
			text-decoration: none;
			display: inline-block;
			transition: border 250ms ease, color 250ms ease;
			border-bottom: solid 2px transparent;
			padding:0.5rem 0.25rem 0.25rem;
			margin:0 0.5rem;

			&.active{
				color:darken($color2, 25%);
				border-bottom: solid 2px $color5;
			}
			&:hover, &:focus{
				color:$color3;
				outline: none;
				border-bottom: solid 2px $color5;
			}
		}
	}
}
