@import 'header';
@import 'page';
@import 'footer';
body{
	background:lighten($color1, 10%);
}

main{
	@include outer-container(800px);
	margin: 0.5rem auto;
	
	@include media($tablet){
		margin: 7rem auto 2rem;
	}
	.section-heading{
		margin: 0;
		color: $color3;
	}
	
	.post-meta{
		color: darken($color2, 35%);
	}
	
	img{
		max-width: 100% !important;
	}
	
	.posts{
		@include pad();
		.section-heading{
			text-align: center;
		}
		.year-heading{
			border-top: dotted 1px $color2;
			border-bottom: dotted 1px $color2;
			margin: 1.25rem 0;
			color: #46494c;
			
			~ .post-content{
				border-top: dotted 1px $color2;
			}		
			+ .post-content{
				border:none;
			}
		}
	}
	
	a{
		text-decoration: none;
		color:$color5;
		border-bottom: dotted 1px $color2;
		
		&:hover, &:focus{
			color:darken($color5, 15%);
		}
	}
	
	@include media($tablet){
		.git-repo{
			columns:2;
			margin:0;
			padding:0;
			li{
				list-style-position: inside;
			}
		}
	}
}

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.hp{
	@include pad();
	
	header{
		border-top: solid 1px $color1;
		border-bottom: solid 1px $color1;
	}
	
	&#about{
		text-align: center;
				
		header{
			border:none;
			
			img{
				border-radius: 8px;
				margin-bottom:1rem;
			}
			.section-heading{
				font-size:1.5rem;
			}
		}
	}
	
	&#coaching{
			
	}
	
	&#blog{
		.post-content:not(:last-child){
			border-bottom: dotted 1px $color2;
		}
	}
}

.page-nav{
	.next{
		float:right;
	}
	.prev{
		float:left;
	}
}

.view-blog{
	text-align: center;
	a{
		color: darken($color2, 35%);
		border-radius: 4px;
		padding:0.25rem 0.5rem;
		border: solid 1px darken($color2, 35%);
		transition: background 500ms ease, border 500ms ease, color 500ms ease;
		&:hover, &:focus{
			border: solid 1px darken($color5, 15%);
			background: darken($color5, 15%);
			color:white;
		}
	}
}

blockquote{
	border-left: solid 5px $color2;
	background: white;
	padding:0.875rem;
	font-size: 1.25rem;
}

.twitter-tweet{
	margin: 0 auto;
}
