$color1: 	#dcdcdd; //light grey
$color2: 	#c5c3c6; //grey
$color3: 	#46494c; //darker grey
$color4: 	#4c5c68; //blue-grey
$color5: 	#1985a1; //blue

$tablet:	43.75rem;
$desktop:	56.25rem;


/* @import url(https://fonts.googleapis.com/css?family=Cabin:400,600|Lobster+Two:700); */

$spacing-unit:     30px;