---
layout: default
title: Blog

weight: 4
menu: right

excerpt: Listing of blog posts authored or endorsed by Greg McMullen.
redirect_from:
  - /tag/
  - /life/

---
<section class="posts">
	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
		<div class="post-content">
			<h3 class="post-heading"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
			<p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
			<p>{{ post.excerpt }}</p>
		</div>
	{% endfor %}

	<!-- Pagination links -->
	<div class="pagination">
		{% if paginator.previous_page %}
    		<a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous Page</a>
		{% endif %}
		{% if paginator.next_page %}
    		<a href="{{ paginator.next_page_path }}" class="next">Next Page &raquo;</a>
		{% endif %}
	</div>
</section>
