---
layout: default
---
<article class="cd-timeline-block post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="cd-timeline-img post-icon">
			<img src="{{ "/img/post-icon.png" | prepend: site.baseurl }}" />
		</div>
	  <div class="cd-timeline-content">
			<header class="post-header">
				<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
			</header>
			
			<div class="post-content" itemprop="articleBody">
				{{ content }}
			</div>
			<span class="cd-date">
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d %Y" }}</time>
			</span>
		</div>
</article>